@import "tailwindcss";
@import "@nuxt/ui";
@import "./satoshi.css";

@theme {
  --font-sans: Satoshi, sans-serif;
  --font-serif: Instrument, serif;
  --container-8xl: 70rem;

  --placeholder-home-img-from: oklch(0.45 0.0475 51.52);
  --placeholder-home-img-via: oklch(0.55 0.0116 58.07);
  --placeholder-home-img-to: oklch(0.87 0.0043 56.37);
}

:root {
  --ui-container: var(--container-8xl);
}
